Package: com.axs.axswitch
Name: AxSwitch
Author: Axs
Maintainer: Axs
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0.0
Description: 全局 UI 开关插件，自定义颜色，支持热重载
Depends: mobilesubstrate
Tag: role::tweak, purpose::customize
