<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string>AxSwitch</string>
    <key>preference specifiers</key>
    <array>

        <!-- 开启插件 -->
        <dict>
            <key>type</key>
            <string>PSSwitchSpecifier</string>
            <key>key</key>
            <string>enabled</string>
            <key>default</key>
            <true/>
            <key>title</key>
            <string>启用 AxSwitch</string>
        </dict>

        <!-- 自定义开关颜色 -->
        <dict>
            <key>type</key>
            <string>PSTextFieldSpecifier</string>
            <key>key</key>
            <string>switchColor</string>
            <key>default</key>
            <string>#34C759</string>
            <key>title</key>
            <string>开关颜色 HEX</string>
        </dict>

        <!-- 重载按钮 -->
        <dict>
            <key>type</key>
            <string>PSButtonCell</string>
            <key>title</key>
            <string>立即重载插件</string>
            <key>action</key>
            <string>respring</string>
        </dict>

    </array>
</dict>
</plist>
